<!DOCTYPE html>
<html>
<title>Insuarance Game</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<style>
  html,
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Open Sans", sans-serif
  }

  label>input {

    visibility: hidden;
    position: absolute;
  }

  label>input+img {
    cursor: pointer;
    border: 2px solid transparent;
  }

  label>input:checked+img {
    border: 2px solid #29a3a3;
  }
</style>

<body class="w3-theme-l5">
  <div class="w3-top w3-hide-small w3-hide-medium">
    <div class="w3-bar w3-theme-d2 w3-left-align w3-large ">
      <h2>Welcome to the Game of Insurance presented by OneAmerica</h2>
    </div>
  </div>
  <div class="w3-top w3-hide-large">
    <div class="w3-bar w3-theme-d2 w3-left-align w3-large ">
      <h2>Game of Insurance</h2>
    </div>
  </div>

  <!-- Page Container -->
  <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
    <!-- The Grid -->
    <div class="w3-row">
      <!-- Left Column -->
      <div class="w3-col m3 w3-hide-small">
        <!-- Persona -->
        <div class="w3-card w3-round w3-white">
          <div class="w3-container">
            <h4 class="w3-center">Persona</h4>
            <p class="w3-center">
              <img id="avatar" src="/assets/avatars.png" class="w3-circle" style="height:106px;width:106px" alt="Avatar">
            </p>
            <hr>
            <h6 class="w3-margin-right w3-text-theme">Name: {{ persona.name }}</h6>
            <h6 class="w3-margin-right w3-text-theme">Age: {{ persona.age }}</h6>
            <h6 class="w3-margin-right w3-text-theme">Gender: {{ persona.sex == "F" ? "Female" : "Male" }}</h6>
            <h6 class="w3-margin-right w3-text-theme">Marital Status: {{ persona.maritalStatus | capitalize }}</h6>
            <h6 class="w3-margin-right w3-text-theme">Dependents: {{ persona.dependents }}</h6>
            <h6 class="w3-margin-right w3-text-theme">Profession: {{ persona.profession | capitalize }}</h6>
            <h6 class="w3-margin-right w3-text-theme">Salary: {{ persona.salary | commafy }}</h6>
          </div>
        </div>
        <br>
        <button id="settings" onclick="document.getElementById('id01').style.display='block'" class="w3-mobile w3-card w3-round w3-white w3-center">
          <h2>Modify Persona</h2>
        </button>
        <!-- End Left Column -->
      </div>

      <!-- Middle Column -->
      <div class="w3-col m7">

        <div class="w3-row-padding">
          <div class="w3-col m12">
            <div class="w3-card w3-round w3-white">
              <div class="w3-container w3-padding">
                <img id="scenarioImage" src="/assets/mountain.jpg" style="height:100%;width:100%" class="w3-rounded">
              </div>
            </div>
            <br>
            <div class="w3-card w3-round w3-white">
              <div class="w3-container w3-padding">
                <h2>{{ event.name }}</h2>
                <p>{{ event.text }}</p>
              </div>
            </div>
            <br>
            <div class="w3-card w3-round w3-white">
              <div class="w3-container w3-padding">
                <button id="button1" class="w3-btn w3-round-xlarge w3-khaki w3-medium" (click)="counteract(0)">{{ this.event.counteractions[0].name }}</button>
                <button id="button2" class="w3-btn w3-round-xlarge w3-khaki w3-medium" (click)="counteract(1)">{{ this.event.counteractions[1].name }}</button>
                <button id="button3" class="w3-btn w3-round-xlarge w3-khaki w3-medium" (click)="counteract(2)">{{ this.event.counteractions[2].name }}</button>
              </div>
            </div>
          </div>
        </div>

        <div class="w3-container w3-card w3-white w3-round w3-margin">

        </div>

        <!-- End Middle Column -->
      </div>

      <!-- Right Column -->
      <div class="w3-col m2">
        <div class="w3-card w3-round w3-white w3-center">
          <!-- Bank -->
          <div class="w3-container">
            <h4 class="w3-center">Bank</h4>
            <hr>
            <h6 class="w3-margin-right w3-left-align w3-text-theme">Checking Account: {{ this.persona.checkingAccount.getBalance() | round | commafy }}</h6>
            <h6 class="w3-margin-right w3-left-align w3-text-theme">Savings Account: {{ (this.persona.savingsAccount == null) ? "No account" : this.persona.savingsAccount.getBalance()
              | round | commafy }}</h6>
          </div>
        </div>
        <br>
        <div class="w3-card w3-round w3-white w3-center">
          <!-- Life Insurance -->
          <div class="w3-container">
            <h4 class="w3-center">Life Insurance</h4>
            <hr>
            <h6 class="w3-margin-right w3-left-align w3-text-theme">Policy Type: {{ this.persona.insurancePolicy.title }}</h6>
            <h6 class="w3-margin-right w3-left-align w3-text-theme">Payout: {{ this.persona.insurancePolicy.payOut() | commafy }}</h6>
            <h6 class="w3-margin-right w3-left-align w3-text-theme">Policy Age: {{ this.persona.insurancePolicy.age }}</h6>
            <h6 class="w3-margin-right w3-left-align w3-text-theme">Cash Value: {{ this.persona.insurancePolicy.value | commafy }}</h6>
          </div>
        </div>
        <br>
        <!-- Inventory -->
        <div class="w3-card w3-round w3-white w3-hide-small">
          <div class="w3-container">
            <h4 class="w3-center">Inventory</h4>
            <hr>
            <h6 class="w3-margin-right w3-left-align w3-text-theme">Auto</h6>
            <h6 class="w3-margin-right w3-left-align w3-text-theme">Homeowner's</h6>
            <h6 class="w3-margin-right w3-left-align w3-text-theme">Health</h6>
          </div>
        </div>

        <!-- End Right Column -->
      </div>

      <!-- End Grid -->
    </div>

    <!-- End Page Container -->
  </div>
  <br>

  <!-- Footer -->
  <footer class="w3-container w3-theme-d3 w3-padding-16">
    <h5>Footer</h5>
  </footer>

  <footer class="w3-container w3-theme-d5">
    <p>Powered by
      <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a>
    </p>
  </footer>

  <div id="id01" class="w3-modal">
    <div class="w3-modal-content">
      <div class="w3-container">

        <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
        <h3>Warning: If you modify the persona while playing it will reset progress.</h3>
        <form>
          <div class="w3-col m6">

            <h6 class="w3-margin-right w3-text-theme">Name:
              <input name="nameInput" type="text" class="w3-margin-right w3-text-theme">
            </h6>
            <h6 class="w3-margin-right w3-text-theme">Age:
              <input name="ageInput" type="number" class="w3-margin-right w3-text-theme">
            </h6>
            <h6 class="w3-margin-right w3-text-theme">Gender:
              <input type="radio" name="gender" value="male" class="w3-text-theme">Male
              <input type="radio" name="gender" value="female" class="w3-text-theme">Female</h6>
            <h6 class="w3-margin-right w3-text-theme">Marital Status:
              <input type="radio" name="maritalStatus" value="married" class="w3-text-theme">Married
              <input type="radio" name="maritalStatus" value="notMarried" class="w3-text-theme">Not Married</h6>
            <h6 class="w3-margin-right w3-text-theme">Dependents:
              <input name="dependentsInput" type="number" class="w3-margin-right w3-text-theme">
            </h6>
            <h6 class="w3-margin-right w3-text-theme">Profession:
              <input name="professionInput" type="text" class="w3-margin-right w3-text-theme">
            </h6>
            <h6 class="w3-margin-right w3-text-theme">Salary:
              <input name="salaryinput" type="number" class="w3-margin-right w3-text-theme">
            </h6>
            <input type="submit" value="Save" class="w3-margin-right w3-text-theme">

          </div>
          <div class="w3-col m6">
            <div class="column">
              <label>
                <input type="radio" name="avatar" value="boy1">
                <img src="/assets/boy-1.png" style="width:20%">
              </label>
              <label>
                <input type="radio" name="avatar" value="boy">
                <img src="/assets/boy.png" style="width:20%">
              </label>
              <label>
                <input type="radio" name="avatar" value="girl1">
                <img src="/assets/girl-1.png" style="width:20%">
              </label>
            </div>
            <div class="column">
              <label>
                <input type="radio" name="avatar" value="girl">
                <img src="/assets/girl.png" style="width:20%">
              </label>
              <label>
                <input type="radio" name="avatar" value="man1">
                <img src="/assets/man-1.png" style="width:20%">
              </label>
              <label>
                <input type="radio" name="avatar" value="man2">
                <img src="/assets/man-2.png" style="width:20%">
              </label>
            </div>
            <div class="column">
              <label>
                <input type="radio" name="avatar" value="man3">
                <img src="/assets/man-3.png" style="width:20%">
              </label>
              <label>
                <input type="radio" name="avatar" value="man">
                <img src="/assets/man.png" style="width:20%">
              </label>
              <label>
                <input type="radio" name="avatar" value="man4">
                <img src="/assets/man-4.png" style="width:20%">
              </label>
            </div>
            <h5>Please select an avatar image.</h5>
          </div>
        </form>
      </div>
    </div>
  </div>

</body>

</html>