<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="w3-display-container" style="text-align:center">
  <img src="/assets/mountain.jpg" alt="background" style="max-width:100%">
  <div class="w3-panel w3-blue w3-card-4 w3-display-topmiddle w3-col s6 m6 l6">
    <h1>Welcome to {{title}}!</h1>

  </div>
  <div class="w3-panel w3-blue w3-card-4 w3-display-topleft w3-blue w3-col s2 m2 l2">
    <h2> Persona Info</h2>
  </div>

  <div class="w3-panel w3-blue w3-card-4 w3-display-left w3-blue w3-col s2 m2 l2">
    <h2>Inventory</h2>
  </div>

  <div class="w3-panel w3-blue w3-card-4 w3-display-bottomleft w3-blue w3-col s2 m2 l2">
    <h2>Bank</h2>
  </div>

  <div class="w3-panel w3-blue w3-card-4 w3-display-bottomright w3-blue w3-col s2 m2 l2">
    <h2>Settings</h2>
  </div>
  <div class="w3-display-container w3-display-middle w3-col s6 m6 l6">
    <div class="w3-panel w3-green w3-card-4 w3-display-bottomleft w3-col s3 m3 l3">
      <img src="/assets/avatars.png" alt="avatars" style="max-width:100%">
    </div>
    <div class="w3-panel w3-blue w3-card-4 w3-display-middle w3-col s6 m6 l6">
      <h1>Text area</h1>
    </div>
  </div>

  <div class="w3-display-container w3-display-bottommiddle w3-col s6 m6 l6">
  <button id="button1" class="w3-btn w3-round-xlarge w3-display-bottomleft w3-khaki w3-medium">Button 1</button>
  <button id="button2" class="w3-btn w3-round-xlarge w3-display-bottommiddle w3-khaki w3-medium">Button 2</button>
  <button id="button3" class="w3-btn w3-round-xlarge w3-display-bottomright w3-khaki w3-medium">Button 3</button>
</div>


</div>